.container {
    padding-right: 0;
}

.row {
     margin-right: 0; 
     margin-left: 0;
    /* margin-top: 12px;*/
}

.nav {
    background-color: #f5f5f5;
    padding: 2px 12px 10px 12px;
    max-width: 624px;
    margin-right: 6%;
    margin-bottom: 12px;
}

.main {
    padding-bottom: 12px;
}

.main_article{
    margin: 0;
    padding: 0;
}

.main_article_header {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0) url(images/transparent.png);
    color: white;
    left: 0;
    bottom: 0;
    margin-top: 2px;
    padding: 0;
}

.main_article_txt {
    background: #40454c url(images/main_article.gif) repeat-x scroll left top;
    color: white;
    font-size: 14px;
    padding: 3px 10px 12px;
    line-height: 1.1em;
}

.article {
    padding-top: 12px;
}

.article_img {
    float: left;
    padding: 4px 10px 0 0;
}

.sidebar {
    margin-left: 12px;
}

.list_news {
    margin-right: 11px;
}

.last_time {
    float: left;
}

.last_time p {
    font-size: 18px;
    font-weight: bold;
}

.last_news {
    border-bottom: 1px solid #c9cdd2;
    padding: 10px 0 6px;
}

.news {
    border-bottom: 1px solid #c9cdd2;
    padding: 10px 0 6px;
}

.up {
    background: rgba(0, 0, 0, 0) url(images/up_button.png);
    height: 30px;
    width: 34px;
    float: left;
    margin-right: 5px;
    margin-top: 13px;
    vertical-align: bottom;
}

.more_news {
    background: #ffffff -webkit-gradient( linear, left top, left bottom, color-stop(0.3, #ffffff), color-stop(1, #dfdfdf) );
    border: 1px solid #c8cbcd;
    border-radius: 3px;
    color: #565d66;
    float: left;
    font-weight: bold;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    width: 207px;
    margin-top: 13px;
}

.time p {
    font-size: 18px;
    font-weight: normal;
}

p {
    font-size: 14px;
    line-height: 1.1em;
    margin: 0;
} 


h1 {
    color: #40454c;
    margin-bottom: 0;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0) url(images/h1.gif) repeat-x scroll left bottom;
    padding-bottom: 4px;
}

h2 {
    color: #565d66;
    font-size: 19px;
    border-bottom: 1px solid #989898;
    margin: 0;
    font-weight: bolder;
}

h3 {
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 2px 3px 15px 10px;
    font-weight: bolder;
    margin: 0;
}

.article h3 {
    color: #1a5ca7;
    padding-bottom: 10px;
}

.article p {
    padding-top: 4px;
    line-height: 1.1em;
    padding-bottom: 12px;
    border-bottom: 1px solid #c9cdd2;
    margin: 0;
}

.article span {
    color: #989898;
    font-size: 80%;
    padding-top: 4px;
}

a {
    text-decoration: underline;
    color: #40454c;
    padding-right: 7px;
}

span {
    color: #ffb421;
    font-size: 12px;
}

.article h3 span {
    color: white;
    font-size: 50%;
}

.comment {
    background: url(images/comments.png);
    height: 18px;
    color: white;
    margin-left: 10px;
    display: inline-block;
    font-size: 10px;
    padding: 0 4px 1px 3px;
    position: relative;
    top: -3px;
}

 




/*.col-sm-5 {
    margin: 0;
    padding: 0;
}*/




    



